* {
    background-color: black;
    color: seashell;
    opacity: 0.9;
    font-size: 22px;
    font-family: Helvetica;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    border: 0;
    margin: 0;
}

.logo-img{
    color: black;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;   
}

.nav-container{
    display: flex;
    justify-content: flex-end;
    height: 69px;
    border-bottom: 1px solid seashell;
}

.nav-items{
    width: 1400px;
    text-align: right;   
}

ul { display: inline-flex }
li{margin: 0px 30px}

.img1-div {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: relative;
    text-align: center;
    
}

.caption1-div{
    width: 1200px;
    position:absolute;
    top: 300px;
    height: 100px;
}

.caption1-div h2{
    font-size: 35px;
    align-self: center;
    margin-top: 10px;
    
}

.caption1-div h4{
    padding-bottom: 10px;
}

.background-img{
    height: 800px;
    width: 1200px;
}

/*second section*/

.img2-div {
    /*width: 1000px;*/
    height: 600px;
    width: 100% ;
    /* display: flex; */
    justify-content: center;
}

.section2-title{
    height: 100px;
    width: 100%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    
}

.section2-title h2{
    font-size: larger;
    margin: 10px;
}

.section2-title h4{
    font-size: smaller;
    margin: 10px;
}
<!--

/*renamed the below 3 classes for sake of clarity*/
.card-img-caption-container{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
    background-color: blueviolet;
}

.card-img-caption {
    margin: 10px;
    display: block; /*opted for block instead of flex as image and text are stacked together*/
    text-align: center; /*consequently aligned the text centrally into the card and below the image*/
    flex-direction: column;
    /*justify-content: center;*/ /*commented out because seems unnecessary*/
    
}

.card-img-caption h3{
    margin: 5px;

}

/**/


.row1 {                         /*this is simply the rectanuglar container of each row of images. This centers the above rows 3 images, as well as, in the second row the sole 2 images towards the center of the freaking page*/
    
    display: flex;
    justify-content: center;
    text-align: center;
}

.row1 img, .row2 img, .cards2 h4 {
    width: 15rem;
}

.cards2 {
    padding: 1rem;
}




